@attribute [Authorize]

@page "/PersonsList"
@using Blazored.Modal
@using Blazored.Modal.Services
@using Microsoft.AspNetCore.Authorization;
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Cards
@using Syncfusion.Blazor.Data;
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Grids;
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Notifications

@using Ticketing.Client.Contracts.Persons;
@using Ticketing.Models.Centers.Dto;
@using Ticketing.Models.Centers.Repository;
@using Ticketing.Models.Persons.Command
@using Ticketing.Models.Persons.Dto
@using Ticketing.Models.Persons.Repository
@using Ticketing.Models.Programs.Dto;
@using Ticketing.Models.Programs.Repository;
@using Ticketing_UI.Shared.Component

@inject IPersonRepository personRepository
@inject ICenterRepository centerRepository
@inject IProgramRepository programRepository
@inject IHttpClientFactory ClientFactory

<SfButton CssClass=".property-panel-section .property-panel-content col-lg-3 col-md-3 col-sm-3 display:inline-block!important " style="background-color: #008b8b2e ; color: #497d7e;    border-color: rgba(0,0,0,0); width:100px; margin-right:23px" @onclick="@(async e => {NewPerson(); })">افزودن</SfButton>
<style>
    .hulu {
        background-color: #edf8ff38;
        border: solid 1px lightgray;
        border-radius: 3px;
    }

        .hulu:hover {
            background-color: white;
            border: solid 1px gray;
        }
</style>
<hr />
<div class="content-wrapper">
    <div class="row">
        <div class="e-card-layout control-section col-lg-12 card-control-section tile_layout" style="display:inline-block!important ; ">


            @if(this.personDtos.Count == 0)
            {
                <div class="e-error">
                    <div class="e-error-content">اطلاعاتی یافت نشد.</div>
                </div>
            }
            else
            {
                @foreach(PersonDto persondto in personDtos)
                {

                    <div class="card_sample_3 col-lg-2 col-md-2 col-sm-5 p-1 "
                         style=" padding: 10px; display:inline-block!important ;"
                         title="@personDto.PersonRole.ToString()">
                        <div class="p-2 hulu">

                            @* <SfCard Orientation="CardOrientation.Horizontal" @ondblclick="(()=>EditButtonClick(persondto))">
                    @{
                    string contentText = persondto.PartName + " " + persondto.CenterName;
                    }
                    <CardStacked>
                    <CardHeader Title="@persondto.PersonName" SubTitle="@persondto.PersonID.ToString()" />
                    <CardContent>
                    @contentText
                    </CardContent>

                    <CardContent>
                    @contentText
                    </CardContent>
                    </CardStacked>*@


                            @*<CardFooter>
                    <CardFooterContent>
                    <div class="row" style="margin-left:10px;margin-right:50%; display:inline-block!important ;">
                    <div class="row col-lg-12" style="display:inline-block!important ;">
                    <SfButton CssClass="e-btn e-outline e-primary me-4 e-icons e-redaction" style=" border-color: #ffffff;margin-bottom:4px;" @onclick="@(async e => {
                    await EditButtonClick(persondto);  })" title="ویرایش"></SfButton>
                    </div>
                    <div class="row col-lg-12">
                    <SfButton CssClass="e-btn e-outline e-primary  me-4 e-icons e-circle-remove" style="border-color: #ffffff;margin-bottom:4px;" @onclick="(  e=>{  ClickDeleteButton(persondto);})" title="حذف"></SfButton>
                    </div>
                    <div class="row col-lg-12 ">
                    <SfButton CssClass="e-btn e-outline e-primary me-4 me-4 e-icons e-list-unordered" style="border-color: #ffffff; margin-bottom:4px;" @onclick="(async e=>{await GetSupporterProgramsList(persondto);})" title="برنامه ها"></SfButton>
                    </div>
                    </div>
                    </CardFooterContent>
                    </CardFooter>
                    </SfCard>*@

                            <div @ondblclick="(()=>EditButtonClick(persondto))">
                                @{
                                    string contentText = persondto.PartName + " " + persondto.CenterName;
                                }
                                <div class="col-sm-8 col-md-8 col-lg-8" style="display:inline-block!important ;">
                                    <h4>
                                        @persondto.PersonName
                                    </h4>
                                    <span>
                                        @persondto.PersonID.ToString()
                                    </span>
                                    <p>
                                        @contentText
                                    </p>
                                </div>
                                <div class=" row col-md-4 col-lg-4" style="display:inline-block!important;">
                                    <SfButton CssClass="e-btn e-outline e-primary e-icons e-redaction" style=" border-color: #ffffff; " @onclick="@(async e => {await EditButtonClick(persondto);  })" title="ویرایش"></SfButton>

                                    <SfButton CssClass="e-btn e-outline e-primary  e-icons e-circle-remove" style="border-color: #ffffff;" @onclick="(  e=>{  ClickDeleteButton(persondto);})" title="حذف"></SfButton>


                                    <SfButton CssClass="e-btn e-outline e-primary  e-icons e-list-unordered" style="border-color: #ffffff; " @onclick="(async e=>{await GetSupporterProgramsList(persondto);})" title="برنامه ها"></SfButton>

                                </div>
                            </div>

                        </div>


                    </div>

                }

                <SfDialog @bind-Visible="dialogVisible" Width="350px" IsModal="true">
                    <DialogTemplates>
                        <Header>
                            اطلاعات پرسنل
                        </Header>
                        <Content>
                            <img class="thumbnail" src="@image" style="width:70px; "
                                 alt="Employee photo" />
                            <SfTextBox @bind-Value="@selectedPerson.PersonName" Placeholder="نام" FloatLabelType="FloatLabelType.Auto"></SfTextBox>
                            <SfNumericTextBox Enabled="isNew" @bind-Value="@selectedPerson.PersonID" Placeholder="کد پرسنلی" FloatLabelType="FloatLabelType.Always"></SfNumericTextBox>

                            <SfDropDownList Enabled="true" TValue="Guid" TItem="CenterDto" @bind-Value="@selectedCenterDto.Id" FloatLabelType="FloatLabelType.Auto" Placeholder="نام دفتر" PopupHeight="auto" DataSource="@centerDtos">
                                <DropDownListEvents TItem="CenterDto" TValue="Guid" ValueChange="ChangeCenter"></DropDownListEvents>
                                <DropDownListFieldSettings Text="CenterName" Value="Id"></DropDownListFieldSettings>
                            </SfDropDownList>

                            <SfDropDownList Enabled="true" TValue="Guid" TItem="PartDto" @bind-Value="@selectedPartdto.Id" FloatLabelType="FloatLabelType.Auto" Placeholder="نام واحد" PopupHeight="auto" DataSource="@partDtos">
                                <DropDownListFieldSettings Text="PartName" Value="Id"></DropDownListFieldSettings>
                            </SfDropDownList>

                            <SfDropDownList Enabled="true" TValue="RoleType" TItem="KeyValuePair<RoleType,string>" @bind-Value="@selectedPerson.PersonRole" FloatLabelType="FloatLabelType.Auto" Placeholder="نقش کاربر" PopupHeight="auto" DataSource="@roleTypes">
                                <DropDownListFieldSettings Text="Value" Value="Key"></DropDownListFieldSettings>
                            </SfDropDownList>

                        </Content>
                    </DialogTemplates>
                    <DialogAnimationSettings Effect="animationEffect"></DialogAnimationSettings>
                    <DialogEvents Opened="OnOpen" Closed="OnClose"></DialogEvents>

                    <DialogButtons>
                        <DialogButton Content="OK" IsPrimary="true" OnClick="@(async e=> await SaveButtonClick(selectedPerson))"></DialogButton>
                        <DialogButton Content="Cancel" IsPrimary="true" OnClick="OnClose"></DialogButton>
                    </DialogButtons>
                </SfDialog>

                <SfDialog @bind-Visible="programListDialogVisiable" Width="50%" ShowCloseIcon="true" IsModal="true">
                    <DialogTemplates>
                        <Header>
                            اطلاعات
                        </Header>
                        <Content>
                            <div class="content-wrapper">
                                <div class="row">
                                    <SfGrid DataSource="@programDtos" AllowPaging="true" AllowSorting="true" style="width:auto;padding-right: 1px;padding-left: 1px;">
                                        <GridPageSettings @ref="GridPage" PageSize="10"></GridPageSettings>
                                        <GridEvents TValue="ProgramDto"></GridEvents>
                                        <GridEditSettings AllowAdding="true" AllowDeleting="true" AllowEditing="true" Mode="@EditMode.Dialog" Dialog="DialogParams" ShowConfirmDialog="true">
                                            <HeaderTemplate>
                                                <span>اطلاعات</span>
                                            </HeaderTemplate>
                                        </GridEditSettings>

                                        <GridColumns>
                                            <GridColumn Field=@nameof(ProgramDto.Id) Visible=false></GridColumn>
                                            <GridColumn Field=@nameof(ProgramDto.ProgamName) HeaderText="برنامه"></GridColumn>
                                            <GridColumn Field=@nameof(ProgramDto.ProgramLink) HeaderText="لینک"></GridColumn>
                                            <GridColumn HeaderText="تعداد پشتیبان">
                                                <Template>
                                                    @{
                                                        var programddd = (context as ProgramDto) ?? new ProgramDto();
                                                        string supportercount = programddd.Supporters.Count.ToString();
                                                    }
                                                    <div Enabled="false">@supportercount</div>
                                                </Template>
                                            </GridColumn>
                                        </GridColumns>
                                    </SfGrid>
                                </div>
                            </div>


                        </Content>
                    </DialogTemplates>
                    <DialogAnimationSettings Effect="animationEffect"></DialogAnimationSettings>
                </SfDialog>

                <SfDialog @bind-Visible="warningMessageVisiable" Width="20%">
                    <DialogTemplates>
                        <Header>
                            حذف
                        </Header>
                        <Content>
                            <div class="content-wrapper">
                                <div style="text-align:center">
                                    از حذف این اطلاعات مطمئن هستید؟
                                </div>
                            </div>
                        </Content>
                    </DialogTemplates>
                    <DialogButtons>
                        <DialogButton Content="OK" IsPrimary="true" OnClick="@(async e=> await DeletePerson(selectedPerson))"></DialogButton>
                        <DialogButton Content="Cancel" IsPrimary="true" OnClick="OnClose"></DialogButton>
                    </DialogButtons>
                </SfDialog>
            }

        </div>
    </div>
    <div class="col-lg-6 control-section msg-icon-section sb-property-border" style="max-width: fit-content; margin: auto;">
        <div class="content-section">
            <SfMessage Severity="MessageSeverity.Error" ShowIcon="true" ShowCloseIcon="true" @bind-Visible="@errorVisiable">@errorMessage</SfMessage>
            <SfMessage Severity="MessageSeverity.Success" ShowIcon="true" ShowCloseIcon="true" @bind-Visible="@messageVisiable">@resultMessage</SfMessage>
        </div>
    </div>
</div>

<style>
    body {
        font-family: 'Vazir FD';
    }

    .e-card .e-card-horizontal .e-card-stacked {
        justify-content: flex-start;
        margin: initial;
    }

    .property-panel-section .property-panel-content td {
        padding: 0 0 15px 0;
    }

    .tile_layout.card-control-section .e-error {
        height: 100px;
        width: 100%;
    }

        .tile_layout.card-control-section .e-error .e-error-content {
            color: red;
            line-height: 100px;
            text-align: center;
        }

    .tile_layout.card-control-section .e-card .e-card-image {
        height: 180px;
        width: inherit;
    }


    .tile_layout.card-control-section .e-card .e-card-header .e-card-header-caption .e-card-header-title {
        font-size: 20px;
        font-family: Helvetica, 'Segoe UI';
        font-weight: bold;
    }

    .tile_layout.card-control-section .e-card .e-card-header .e-card-header-caption .e-card-sub-title {
        padding-top: 5px;
    }

    .tile_layout.card-control-section .e-card .e-card-content {
        padding-top: 10px;
        height: 50px;
    }

    #source_link {
        float: right;
    }

    .e-card {
        -webkit-tap-highlight-color: #0d6efd;
        background-color: #edf8ff38;
        border: 2px solid #dee2e6;
        box-shadow: none;
        color: #212529;
        outline: none;
    }

    .e-card-content2 {
        padding: 3px;
        width: 10px;
    }
</style>


@code {
    private List<PersonDto> personDtos = new List<PersonDto>();
    private PersonDto personDto = new PersonDto();
    public ModalParameters MessageBoxKeys = new ModalParameters();
    private List<CenterDto> centerDtos = new List<CenterDto>();
    private List<PartDto> partDtos = new List<PartDto>();
    private List<ProgramDto> programDtos = new List<ProgramDto>();
    private CenterDto selectedCenterDto = new CenterDto();
    private PartDto selectedPartdto = new PartDto();
    private PersonDto selectedPerson = new PersonDto();
    private bool warningMessageVisiable = false;
    private GridPageSettings GridPage { get; set; }
    private string image = "";
    [Inject] public NavigationManager NavigationManager { get; set; }
    [Inject] public IJSRuntime JsRuntime { get; set; }
    bool dialogVisible { get; set; } = false;
    bool programListDialogVisiable { get; set; } = false;
    private bool isNew = true;
    private DialogSettings DialogParams = new DialogSettings { MinHeight = "750px", Width = "750px" };
    private string resultMessage = "";
    private string errorMessage = "";
    private bool errorVisiable = false;
    private bool messageVisiable = false;
    DialogEffect animationEffect = DialogEffect.None;

    private List<KeyValuePair<RoleType, string>> roleTypes { get; set; } = Enum.GetValues(typeof(RoleType)).Cast<RoleType>().ToList()
    .Select(s => new { Key = s, Value = s.ToString() })
    .ToDictionary(d => d.Key, d => d.Value).ToList();
    protected override async Task OnInitializedAsync()
    {
        centerDtos = await centerRepository.GetAllCenters();

        await GetAllPersons();
    }

    public async Task OnReset()
    {
        this.personDtos = await GetAllPersons();
    }

    private void OnOpen()
    {
        dialogVisible = true;
    }

    private void OnClose()
    {
        dialogVisible = false;
        warningMessageVisiable = false;
    }

    public void ChangeCenter(Syncfusion.Blazor.DropDowns.ChangeEventArgs<Guid, CenterDto> args)
    {
        partDtos = args.ItemData.parts;
    }

    private async Task<List<PersonDto>> GetAllPersons()
    {
        personDtos = await personRepository.GetAllPersons("1", "10");
        return personDtos;
    }

    private void NewPerson()
    {
        selectedPerson = new PersonDto() { PersonRole = RoleType.User };
        this.dialogVisible = true;
        selectedPartdto = new PartDto();
        selectedCenterDto = new CenterDto();
        isNew = true;

    }

    private async Task EditButtonClick(PersonDto personDto)
    {
        centerDtos = await centerRepository.GetAllCenters();
        selectedPerson = personDto;
        partDtos = centerDtos.Single(c => c.parts.Any(p => p.Id == selectedPerson.PartId)).parts;
        selectedPartdto = partDtos.Single(p => p.Id == selectedPerson.PartId);
        selectedCenterDto = centerDtos.Single(c => c.Id == selectedPartdto.Center);
        await GetUserPhoto(personDto.PersonID);
        this.dialogVisible = true;
        isNew = false;
    }

    private async Task SaveButtonClick(PersonDto personDto)
    {
        try
        {
            if(isNew)
            {
                CreatePersonCommand createPersonCommand = new CreatePersonCommand()
                    {
                        Name = personDto.PersonName,
                        PartId = selectedPartdto.Id,
                        PersonID = personDto.PersonID
                    };
                await personRepository.CreatePerson(createPersonCommand);
            }
            else
            {
                UpdatePersonCommand updatePersonCommand = new UpdatePersonCommand()
                    {
                        Id = personDto.Id,
                        PartId = selectedPartdto.Id,
                        Name = personDto.PersonName,
                        personRole = personDto.PersonRole
                    };
                await personRepository.UpdatePerson(updatePersonCommand);
            }
            resultMessage = "اطلاعات پرسنل مورد نظر ثبت شد";
            messageVisiable = true;
        }
        catch(Exception ex)
        {
            errorMessage = ex.Message.ToString();
            errorVisiable = true;
            dialogVisible = false;
        }
        finally
        {
            OnClose();
            selectedPartdto = new PartDto();
            await GetAllPersons();
            StateHasChanged();
        }
    }

    private void ClickDeleteButton(PersonDto personDto)
    {
        warningMessageVisiable = true;
        selectedPerson = personDto;
    }

    private async Task DeletePerson(PersonDto personDto)
    {
        try
        {
            DeletePersonCommand deletePersonCommand = new DeletePersonCommand()
                {
                    Id = personDto.Id
                };
            await personRepository.DeletePerson(deletePersonCommand);
            resultMessage = "پرسنل مورد نظر با موفقیت حذف شد";
            messageVisiable = true;
            await GetAllPersons();
            StateHasChanged();
            warningMessageVisiable = false;

        }
        catch(Exception ex)
        {
            errorMessage = ex.Message.ToString();
            errorVisiable = true;
            resultMessage = ex.Message.ToString();
            warningMessageVisiable = false;
        }

    }

    private async Task GetSupporterProgramsList(PersonDto personId)
    {
        programDtos = await programRepository.GetSupporterProgramsList(personId.PersonID);
        programListDialogVisiable = true;
    }
    private async Task GetUserPhoto(int personnelCode)
    {
        string personPhoto = await personRepository.GetUserPhoto(personnelCode);
        if(!String.IsNullOrWhiteSpace(personPhoto))
            image = "data:image/jpeg;base64," + personPhoto;

    }
}
